<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x3D_with_MonoGame.x3D_with_MonoGame" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="3D with MonoGame" android:icon="@drawable/Icon"></application>
</manifest>